body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Inv Maison Neue, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-weight: 400;
  color: #696969;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30 auto;
}
.weather-app {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 1px solid #aaa9ad;
  border-radius: 10px;
}
.form-control:focus {
  border: 1px solid #70d5d2;
  box-shadow: 0 0 10px #03a9f4;
  border-radius: 3px;
}
.search {
  padding: 5px 10px 5px;
  background-color: #22c8e5;
  border: 1px solid #04acca;
  border-radius: 3px;
  transition: all 300ms ease-in-out;
}
.search:hover {
  border: 1px solid #00bcd4;
  background-color: #03a9f4;
  box-shadow: 0 0 5px #c0edea;
  border-radius: 3px;
}
.current:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #fdbd45;
}
.weather-icon-main {
  width: 80px;
  display: block;
  margin: -14px 0 auto 10px;
}
.city-and-country,
.date,
.time {
  text-align: right;
  font-weight: 300;
  color: #0b0120;
  margin-left: 0;
}
.city-and-country {
  text-transform: capitalize;
}
.fahrenheit {
  color: #555555;
  text-decoration: none;
}
.celsius {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
.time-display {
  opacity: 0.7;
  font-size: 12px;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}
.humidity-wind {
  font-size: 12px;
  list-style: none;
  padding: 5px 0;
  opacity: 0.7;
}
.temp-main {
  text-align: right;
  display: inline-block;
}
.degree-views {
  margin-top: 8px;
  display: inline-block;
  text-align: right;
}
.sunrise-sunset {
  font-size: 10px;
  list-style: none;
  text-align: right;
  opacity: 0.8;
  padding: 5px 0;
}
.precipitation-description {
  margin-left: 20px;
}
.precipitation-description::first-letter {
  text-transform: capitalize;
}
.detailed-temp-wind {
  margin-top: 30px;
  color: #334;
  font-weight: 400;
  opacity: 0.9;
  word-spacing: 1em;
}
.detailed-temp,
.detailed-wind {
  margin: 13px 20px 0;
  display: inline-block;
  transition: all 200ms ease-in-out;
}
.detailed-temp:hover,
.detailed-wind:hover {
  text-decoration: solid underline #fcf155 2px;
  cursor: pointer;
}

.air-quality {
  opacity: 0.9;
}
.air-quality-poor {
  text-align: right;
  opacity: 0.9;
  font-size: 15px;
}
.weather-sunny-table {
  width: 65px;
  display: inline-block;
  margin: -5px auto 0;
}
.weather-cloudy-and-sunny-table {
  width: 55px;
  display: inline-block;
  margin: 0 auto 5px;
}
.weather-rainy-table {
  width: 60px;
  display: inline-block;
  margin: 0 auto;
}
.weather-days {
  text-align: center;
  opacity: 0.8;
}
.col-3 .form-label {
  font-size: 13px;
}
.border-2 {
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 5px;
}
.day-temp-img {
  transition: all 200ms ease-in-out;
  border: none;
  border-radius: 10px;
}
.day-temp-img:hover {
  background-image: linear-gradient(-225deg, #fffeff 0%, #a3f1ff 100%);
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.tuesday-temp,
.wednesday-temp,
.thursday-temp,
.friday-temp,
.saturday-temp {
  margin: 0 auto;
  padding: 0;
}
